<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
</head>

<header>
    <!--BANNER DE TIGO -->
    <div class="bannerTigo">
      <img src="/assets/img/man.png"class="person" alt="">
      <span class="dot dot1"></span>
      <span class="dot dot2"></span>
      <span class="dot dot3"></span>
      <span class="dot dot4"></span>
      <span class="dot dot5"></span>
      <span class="dot dot6"></span>
      <span class="dot dot7"></span>
      <span class="dot dot8"></span>
      <img src="../assets/img/logos.png" class="logos" alt="">
    </div>
    <div class="busquedaODS">
        <h2>Consulta el estado de tu orden en este servicio</h2>
        <h5>Pon el numero, orden, celular o IMEI</h5>
        <div class="search">
            <input type="text" name="searchEquipo" id="searchEquipo" class="col-sm-2 col-form-label">
            <button type="button" class="btn btn-success" value="submit">Consultar</button>
        </div>
    </div>
</header>
<body>
    <!--Pregunta desplegable-->
    <div class="preguntadesplegable">
        <div class="accordion " id="accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne" >
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  ¿COMO PUEDO SABER LA FECHA EN QUE ESTARÁ DISPONIBLE EL EQUIPO EN LA TIENDA?
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"> 
                    Para verificar el estado de tu orden de servicio y conocer cuándo puedes acudir a la Tienda para retirar tu equipo, te invitamos a consultar la información aquí.
                    <br>
                    ¡Importante!
                    <br>
                •La fecha de entrega estimada indicada en el documento que recibiste al ingresar tu equipo al taller podría variar en caso de ser necesaria la importación de repuestos.
                <br>
                •Si entregaste tu equipo a un gestor motorizado de Servicio Técnico B2B, este se pondrá en contacto contigo para coordinar la devolución de tu teléfono una vez esté listo, es decir que no debes presentarte a una Tienda Tigo.
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="card cardods">
        <div class="card-body" style="background-color: rgba(233, 233, 233, 0.25);">
          <div class="row">
            <div class="col-md-4">
              <div class="ods">
                <h5>ODS #4512</h5>
                <h6>fecha de creación</h6>
                <p>01/09/2023</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="nameods">
                <h5>A nombre de:</h5>
                <p style="color: #1781D2;">Kirsten Cárdenas</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="itemcelphone">
                <h6>Marca:</h6>
                <p style="color: #1781D2;" >SAMSUNG</p>
                <h6>Modelo:</h6>
                <p style="color: #1781D2";>GALAXY A54</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="trackingLine">
        <div class="trackingLine">
            <div class="row">
              <div class="col-md-6">
                <div class="card-body p-5">
                  <ul id="progressbar-2" class="d-flex justify-content-between mx-0 mt-0 mb-5 px-0 pt-0 pb-2">
                    <li class="step0 active text-center" id="step1"></li>
                    <li class="step0 active text-center" id= "step2"></li>
                    <li class="step0 active text-center" id="step3"></li>
                    <li class="step0 text-muted text-end" id="step4"></li>
                  </ul>
          
                  <div class="d-lg-flex align-items-center">
                    <i class="fas fa-clipboard-list fa-3x me-lg-4 mb-3 mb-lg-0"></i>
                    <div>
                      <p class="fw-bold mb-1">En</p>
                      <p class="fw-bold mb-0">tienda</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="script">
                  <h6>SCRIPT DEL ESTADO</h6>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi voluptatum iste quas debitis 
                    libero ad cumque eos molestias,
                    animi vel laborum necessitatibus similique deserunt, beatae aperiam vitae. Consequatur, eveniet veritatis?</p>
                </div>
              </div>
            </div>
          </div>
          
    <div class="otherelements">
        <button type="button" class="btn btn-warning" disabled>
            <img src="../assets/img/certificate-solid.svg" width="30px">
            Sin garantia</button>
        <div class="ivadetails">
            <p>Precio de reparacion: C$: XXX.XXX.XX</p>
            <P>
                -IVA no incluido
            </P>
        </div>
        <div class="enlace">
            <a href="https://ayuda.tigo.com.ni/hc/es/sections/9006449983507-Inconvenientes-y-problemas">centro de ayuda</a>
        </div>
    </div>
</body>
</html>